@model List<FeedbackWebApplication.Models.feedback>

<h2>All Feedback</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var fb in Model)
        {
            <tr>
                <td>@fb.Id</td>
                <td>@fb.Name</td>
                <td>@fb.Email</td>
                <td>@fb.Message</td>
            </tr>
        }
    </tbody>
</table>
